
	<footer class="footer">
		<div class="footer_background" ></div>
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-3 footer_col">

								<!-- Footer About -->
								<div class="footer_section footer_about">
									<div class="footer_logo_container">
										<a href="#">
											<div class="footer_logo_text">Arab Soft</div>
										</a>
									</div>
								
								</div>

							</div>

							<div class="col-lg-3 footer_col">

								<!-- Footer Contact -->
								<div class="footer_section footer_contact">
									<div class="footer_title"><br><br><br>
										CONTACTEZ-NOUS</div>
									<div class="footer_contact_info">
										<ul>
											<li>Rue 8368 -bloc A- Espace El Aziz, lot <br>
											Ennassim - Montplaisir- 1073 Tunis TUNISIE</li>
											<li>Tél : +216.71.95.12.48</li>
											<li>Fax : +216.71.95.10.44</li>
											<li>Email : arabsoft@arabsoft.com.tn <br>
											<pre>      marketing@arabsoft.com.tn</pre>	
													</li>
*
										</ul>
									</div>
								</div>

							</div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
