<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title style="color: #eb9300;">Authentification</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="loginForm"  (ngSubmit)="login(loginForm)">
        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="standard">
            <input matInput placeholder="Nom d'utilisateur" formControlName="userName">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty ||
             loginForm.get('userName')?.touched) && loginForm.get('userName')?.errors?.required">
             Nom d'utilisateur requis
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="standard">
            <input matInput  [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" formControlName="userPassword">
            <mat-error *ngIf="loginForm.get('userPassword')?.invalid && (loginForm.get('userPassword')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
              Password is required
            </mat-error>

          </mat-form-field>
        </mat-card-content>
        <button  [disabled]="!loginForm.valid"  mat-raised-button color="primary" class="btn-block">Se connecter</button>
      </form>
    </mat-card>
  </div>  
    <app-footer></app-footer>
